* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}
body {
    overflow-x: hidden;
}
*:focus {
    outline: none !important;
}

h1 {
    color: #414A4D;
}

header {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s ease-in-out;
    height: 6em;
    z-index: 1;
}

header.sticky {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s ease-in-out;
    height: 6em;
    z-index: 1;
}

header.sticky a {
    color: #000000;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s ease-in-out;
}


header.sticky a:hover {
    color: #0048ff;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s ease-in-out;
}

header .web_logo {
    position: relative;
    font-weight: 600;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s ease-in-out;
    left: 3%;
}

.web_logo img {
    width: 80%;
    transition: 1s ease-in-out;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 3%;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    font-weight: 550;
    transition: 0.3s ease-in-out;
}

header ul li a#join {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    font-weight: 550;
    transition: 0.6s ease-in-out;
    border: 1px solid white !important;
    padding: 6px 14px 6px 14px;
    border-radius: 2px;
    cursor: pointer;
}

#sign {
    cursor: pointer;
}

header ul li a#join:hover {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    font-weight: 550;
    transition: 0.3s ease-in-out;
    border: 1px solid transparent !important;
    padding: 6px 14px 6px 14px;
    border-radius: 2px;
    background-color: #0048ff;
    cursor: pointer;
}

header.sticky ul li a#join {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #000000;
    font-weight: 550;
    transition: 0.6s ease-in-out;
    border: 1px solid black !important;
    padding: 6px 14px 6px 14px;
    border-radius: 2px;
    cursor: pointer;
}

header.sticky ul li a#join:hover {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    font-weight: 550;
    transition: 0.3s ease-in-out;
    border: 1px solid transparent !important;
    padding: 6px 14px 6px 14px;
    border-radius: 2px;
    background-color: #0048ff;
    cursor: pointer;
}

h3 {
    color: #0048ff;
}

div.web_banner {
    width: 100%;
    height: 620px;
    justify-content: space-between;
    align-items: center;
}

.banner_background {
    width: 100%;
    height: 512px;
    transition: 1s ease-in-out;
    background-size: cover;
    background: no-repeat center center cover;
    padding-top: 6em;
}

div.banner_parts {
    width: 55vw;
}

.banner_background h3 {
    font-size: 38px;
    color: #fff;
    text-align: left;
    margin: 12% 0% 0% 6.5%;
    width: 18em;
}

.banner_searchbar {
    width: 50vw;
    height: 50px;
    background-color: white;
    margin-left: 6.5%;
    margin-top: 4%;
    border-radius: 6px;
    display: flex;
    min-width: 42em;
}

.banner_searchbar_icon {
    width: 42px;
}

img.searchbar_icon {
    width: 100%;
    overflow: hidden;
    align-items: center;
    text-align: center;
    align-content: center;
    margin-top: 18%;
    margin-left: 10%;
    opacity: 0.7;
}

.banner_search_input {
    width: 100%;
    padding: 12px 20px;
    margin: 0% !important;
    display: inline-block;
    border: none !important;
    box-sizing: border-box;
    font-size: 16px;
    margin-left: -1% !important;
    margin-top: 0.5% !important;
}

input[type=text],
input[type=password] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 26px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}

button.login_button {
    background-color: #0048ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 26px;
    border: none;
    cursor: pointer;
    width: 90%;
    font-size: 20px;
}

button.banner_search_button {
    background-color: #0048ff;
    font-weight: 600;
    color: white;
    border: none;
    cursor: pointer;
    width: 20%;
    font-size: 18px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden !important;
}

button:hover {
    opacity: 0.8;
}

input[type=text],
input[type=mail],
input[type=password] {
    width: 86%;
    padding: 12px 20px;
    margin: 8px 6.8%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 4px;
}

input:focus,
button:focus {
    outline: none;
}

button:focus {
    background-color: #888;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 8% auto 15% auto;
    border: 1px solid #888;
    width: 27% !important;
    padding-bottom: 20px;
    border-radius: 1.5%;
    height: auto !important;
}

#join_second {
    display: none;
}

p.modal_termsinfo {
    text-align: center;
    font-size: 12px;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

p a.terms_link {
    text-decoration: none;
    color: #0048ff;
}

hr {
    border: 1px solid #ccc;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.animate {
    animation: zoom 0.6s
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.baner_trends_list {
    width: 100%;
    display: flex;
    margin: 3% 0% 0% 6.5%;
    color: white;
}

.popular_tag {
    padding-top: 5px;
    margin-right: 2%;
    font-weight: 550;
}

.popular_tag_list {
    padding: 5px 15px 5px 15px;
    border: 1.5px solid white;
    border-radius: 20px;
    margin-right: 2%;
    font-weight: 550;
    cursor: pointer;
}

.popular_tag_list:hover {
    padding: 5px 15px 5px 15px;
    border: 1.5px solid white;
    border-radius: 20px;
    margin-right: 2%;
    font-weight: 550;
    background-color: white;
    color: #414A4D;
    transition: 0.4s;
    cursor: pointer;
}

.services-slider {
    margin-top: 40px;
}

.homepage_slider {
    align-items: center;
    text-align: left;
    width: 100%;
    height: 30em;
    overflow-x: hidden;
    margin: auto;
}

.slider-header {
    margin-left: 2.5%;
    margin-bottom: 20px;
}

.slider_content {
    cursor: pointer;
}

.slider_content_background {
    width: 80%;
    margin: auto;
    border-radius: 10px;
}

.background-name {
    position: absolute;
    top: 20;
    color: white;
    margin-left: 1.1%;
}

h3.forgot-pass {
    text-align: right;
    opacity: 0.6;
    font-size: 14px;
    margin-right: 30px;
    margin-bottom: 6px;
}

.student-profile header {
    background-color: black;
}

.profile-section {
    background-color: #eee;
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 6em;
}

.leftsection {
    margin-top: 6em;
    margin-left: 6em;
    width: 30%;
    height: auto;
    max-height: 1000px;
}

.leftsection img {
    width: 70%;
}

.leftsection h4 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    margin-top: 12px;
}

.rightsection {
    width: 70%;
    margin-top: 6em;
}

.rightsection h3 {
    margin: 0;
    font-size: 32px;
    font-weight: 600;
    color: #222;
}

.enrolledcourses {
    width: 100%;
    display: flex;
    margin-top: 50px;
}

.enrolledcourses img {
    width: 16%;
    margin: auto;
    margin-left: 0;
    border-radius: 20px;
}




.become_teacher_cc {
    margin-top: 10%;
}
.become-teacher-h1 {
    color: #fff;
    font-size: 50px;
    line-height: 110%;
    text-align: center;
}

.becom-teacher-p {
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
}

.become-teacher-button{
    background-color: #0048ff;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    color: #fff;
    border: 1px solid transparent;
    padding: 15px 35px;
    display: inline-block;
    border-radius: 3px;
    box-sizing: border-box;
    -webkit-transition: color .2s,background-color .2s,box-shadow .2s,border .2s;
    transition: color .2s,background-color .2s,box-shadow .2s,border .2s;
    text-align: center;
    margin-left: 43%;
    margin-right: 42%;
    margin-top: 2%;
}


.fullWidth {
    width: 100% !important;
    display: table;
    float: none;
    padding: 0;
    min-height: 1px;
    height: 300px;
    position: relative;
    color: #222 !important;
    margin-top: -2% !important;
  }
  
  
  .sectiontitle {
    background-position: center;
    margin: 30px 0 0px;
    text-align: center;
    min-height: 20px;
  }
  
  .sectiontitle h2 {
    font-size: 30px;
    color: #222;
    margin-bottom: 0px;
    padding-right: 10px;
    padding-left: 10px;
  }
  
  
  .headerLine {
    width: 160px;
    height: 2px;
    display: inline-block;
    background: #1dbf73;
  }
  
  
  .projectFactsWrap{
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    color: #222;

  }
  
  
  #projectFacts .fullWidth{
    padding: 0;
  }
  
  .projectFactsWrap .item{
    width: 25%;
    height: 100%;
    padding: 50px 0px;
    text-align: center;
    
  }
  
  .projectFactsWrap .item:nth-child(1){
    background: #eee;
  }
  
  .projectFactsWrap .item:nth-child(2){
    background: #eee;
  }
  
  .projectFactsWrap .item:nth-child(3){
    background: #eee;
  }
  
  .projectFactsWrap .item:nth-child(4){
    background: #eee;
  }
  
  .projectFactsWrap .item p.number{
    font-size: 40px;
    padding: 0;
    font-weight: bold;
  }
  
  .projectFactsWrap .item p{
    color: #222;
    font-size: 18px;
    margin: 0;
    padding: 10px;
    font-family: 'Open Sans';
  }
  
  
  .projectFactsWrap .item span{
    width: 60px;
    background: black;
    height: 2px;
    display: block;
    margin: 0 auto;
  }
  
  
  .projectFactsWrap .item i{
    vertical-align: middle;
    font-size: 50px;
    color: black;
  }
  
  
  .projectFactsWrap .item:hover i, .projectFactsWrap .item:hover p{
    color:black;
  }
  
  .projectFactsWrap .item:hover span{
    background: #222;
  }

  
  .footer-clean {
    padding:50px 0;
    background-color:#fff;
    color:#4b4c4d;
  }
  
  .footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-clean ul a:hover {
    opacity:1;
  }
  
  .footer-clean .item.social {
    text-align:right;
  }
  
  @media (max-width:767px) {
    .footer-clean .item {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  @media (max-width: 768px) {
    .footer-clean .item.social {
      text-align:center;
    }
  }
  
  .footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-clean .item.social > a:hover {
    opacity:0.9;
  }
  
  @media (max-width:991px) {
    .footer-clean .item.social > a {
      margin-top:40px;
    }
  }
  
  @media (max-width:767px) {
    .footer-clean .item.social > a {
      margin-top:10px;
    }
  }
  
  .footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
  }
  
  .masonry-image {
      margin: auto;
      width: 100%;
      padding: auto;
  }

  .ending-section h2 {
      font-size: 24px;
      text-align: center;
      color: #414A4D;
      font-weight: 600;
      margin-bottom: 1px;
  }